@import "styles.less";

div {
    border-radius: @button-border-radius;
    padding: @button-padding;
    display: flex;
    width: fit-content;
}

.primary {
    background-color: @button-bg-color;
    color: if(luma(@button-bg-color) > 50%, @button-text-color-light, @button-text-color-dark);
}

.primary-light {
    background-color: @button-bg-color-light;
    color: if(luma(@button-bg-color-light) > 50%, @button-text-color-light, @button-text-color-dark);
}

.primary-dark {
    background-color: @button-bg-color-dark;
    color: if(luma(@button-bg-color-dark) > 50%, @button-text-color-light, @button-text-color-dark);
}