@import "styles.less";

div {
    border-radius: @button-border-radius;
    padding: @button-padding;
    display: flex;
    width: fit-content;
}

.primary {
    background-color: @button-color;
    color: white;
}

.primary-light {
    background-color: @button-color-light;
    color: white;
}

.primary-dark {
    background-color: @button-color-dark;
    color: white;
}