/* You can add global styles to this file, and also import other style files */

// colors

@primary: rgb(72, 0, 255);

@primary-light-20: lighten(@primary, 20%);
@primary-light-40: lighten(@primary, 40%);
@primary-light-60: lighten(@primary, 60%);
@primary-light-80: lighten(@primary, 80%);

@primary-dark-20: darken(@primary, 20%);
@primary-dark-40: darken(@primary, 40%);
@primary-dark-60: darken(@primary, 60%);
@primary-dark-80: darken(@primary, 80%);

// buttons

@button-padding: 10px 20px;
@button-border-radius: 5px;
@button-color: @primary;
@button-color-light: @primary-light-40;
@button-color-dark: @primary-dark-40;
